
server {
    listen {{ nginx_port_no_tls }};
    listen {{ nginx_port_tls }} ssl;

    ssl_certificate      {{ cert_path }}/cert.crt;
    ssl_certificate_key  {{ cert_path }}/privkey.pem;

    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    location / {
            try_files $uri $uri/ =404;
    }
}